@media (min-width: 960px) {

	#nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		width: 100%;
	}

	#nav .menu-toggle {
		display: none;
	}

	#nav ul {
		padding: 0;
	}

	#nav > ul {
		display: flex;
	}

	#nav ul ul {
		background-color: rgba(0, 0, 0, .85);
		display: block;
		font-size: .9rem;
		padding: .5em 1em;
		position: absolute;
		top: 100%;
		left: -999em;
		transform: translateY(-20%);
		transition: transform .3s ease-out;
		z-index: -2;
	}

	#nav .has-dropdown-toggle ul {
		display: block;
	}

	#nav li {
		position: relative;
	}

	#nav a {
		color: #fff;
	}

	#nav .dropdown-toggle {
		display: none;
	}

	#nav > ul > li > a {
		display: block;
		margin-bottom: -1px;
		padding: .5em 1em;
		z-index: 2;
	}

	#nav ul li:hover > ul,
	#nav ul li.focus > ul {
		left: auto;
		transform: translateY(0);
	}

	#nav ul ul li {
		line-height: 1.15;
	}
}