@media (min-width: 960px) {

	#nav {
		bottom: 0;
		height: 100%;
		position: fixed;
		top: 0;
		width: 200px;
	}

	#nav .menu-toggle {
		display: none;
	}

	#nav > ul {
		display: block;
	}

	#nav li ul {
		display: none;
	}

	main {
		margin-left: 200px;
	}

}