@media (min-width: 960px) {

	#nav {
		bottom: 0;
		height: 100%;
		position: fixed;
		top: 0;
		width: 200px;
	}

	#nav .menu-toggle {
		display: none;
	}

	#nav ul {
		display: block;
	}

	main {
		margin-left: 200px;
	}

}

.placeholder-content {
	align-items: center;
	align-content: center;
	display: flex;
	min-height: calc(100vh - 80px);
}