.scrolling-sections {
	overflow: hidden;
	position: relative;
	width: 100vw;
}

.js-scrolling-sections {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.scrolling-sections > div {
	transition-property: transform;
}

.scrolling-sections article {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	position: relative;
	width: 100%;
}

/* Overwrites for rules in common.css and other demo-specific styles. */
.centered .scrolling-sections {
	left: 50%;
	margin: -40px -40px 0 -50vw;
}

.centered .scrolling-sections article {
	background: no-repeat center;
	background-size: cover;
	margin: 0 auto;
	padding: 40px;
}

.scrolling-sections .article-content-flow {
	max-width: 80ch;
}