.scroll-lock {
	height: 100vh;
	overflow: hidden;
}

.scrolling-sections {
	margin: -40px 0 0 -40px; /* Specific overwrite for rules in common.css */
	overflow: hidden;
	width: 100vw;
}

.scrolling-sections > div {
	transition-property: transform;
}

.scrolling-sections article,
.scrolling-sections article > * {
	height: 100vh;
	position: relative;
	width: 100%;
}

.scrolling-sections article > img {
	object-fit: cover;
}

.scrolling-sections article > div {
	padding: 40px; /* Specific to match rules in common.css */
	position: relative;
}

.scrolling-sections article > * + div {
	margin-top: -100vh;
}
