.scrolling-sections {
	margin: -40px 0 0 -40px; /* Specific overwrite for rules in common.css */
	width: 100vw;
}

.scrolling-sections article,
.scrolling-sections article > * {
	height: 100vh;
	width: 100%;
}

.scrolling-sections article > *:first-child {
	object-fit: cover;
	position: relative;
}

.scrolling-sections article > div {
	margin-top: -100vh;
	padding: 40px; /* Specific to match rules in common.css */
	position: relative;
}