article {
	padding-top: calc(24px - 1em); /* Offset the fixed position "« Back..." link. */
}

.home-link {
	left: 0;
	padding: 20px 40px;
	position: fixed;
	top: 0;
	transition: all 250ms ease;
}

.home-link.yellow {
	background: #ffda00;
	color: #3F403F;
}

.home-link.gray {
	background: #3F403F;
	color: #ffda00;
}